@font-face {
     font-family: "PT Sans";
     font-style: normal;
     font-weight: 400;
     src: url("../fonts/ptsans-400.woff2") format("woff2");
     font-display: swap;
  }

  @font-face {
     font-family: "PT Sans";
     font-style: normal;
     font-weight: 700;
     src: url("../fonts/ptsans-700.woff2") format("woff2");
     font-display: swap;
  }

  @font-face {
     font-family: "PT Sans";
     font-style: italic;
     font-weight: 400;
     src: url("../fonts/ptsans-400.woff2") format("woff2");
     font-display: swap;
  }

  @font-face {
     font-family: "PT Sans";
     font-style: italic;
     font-weight: 700;
     src: url("../fonts/ptsans-700.woff2") format("woff2");
     font-display: swap;
  }

  body {
     font-family: "PT Sans", sans-serif;
     font-size: 20px;
     line-height: 26px;
     background-color: #F2F2F2;
   }

   .button {
     font-family: inherit;
     font-size: 20px;
     line-height: 36px;
     font-weight: 700;
     text-align: center;
     color: #ffffff;
     background-color: #82B3D3;
     text-decoration: none;
     text-transform: uppercase;
   }

   .page-header {
     background-color: #FFFFFF;
     color: #000000;
   }

   .navigation-link {
     color: #000000;
     text-align: center;
     font-weight: 700;
     text-decoration: none;

   }

   .image-background {
     color: #000000;
     background-color: #ffffff;
     background-image: url("../images/index-background.jpg");
     background-size: 100% auto;
     background-repeat: no-repeat;
     text-align: center;
   }

   .five-advantages {
     background-color: #FFFFFF;
   }

   .sedona-slogan {
     font-size: 30px;
     line-height: 36px;
     font-weight: 700;
     text-transform: uppercase;
     text-align: center;
   }

   .advantages {
     font-size: 20px;
     color: #333333;
     text-align: center;
   }

   .sedona-advantages-item-one {
    background-color: #82B3D3;
    text-align: center;
   }
   
   .sedona-img {
    text-align: center;
   }

   .sedona-advantages-subitem-one,
   .sedona-advantages-subitem-three {
    background-color: rgba(131, 179, 211, 0.12);
    text-align: center;
   }

   .sedona-advantages-item-one,
   .sedona-advantages-item-two {
     background-color: #82B3D3;
     color: #FFFFFF;
     text-align: center;
   }


   .sedona-advantages-subitem-two {
    background-color: #FFFFFF;
    text-align: center;
   }

   .sedona-advantages-item-three {
     background-color: rgba(131, 179, 211, 0.12);
     text-align: center;
   }

   .sedona-advantages-item-four {
     background-color: rgba(131, 179, 211, 0.2);
     text-align: center;
   }

   .sedona-advantages-item-five {
    background-color: rgba(131, 179, 211, 0.12);
    text-align: center;
   }

   .sedona-hotel-search {
     background-color: #FFFFFF;
     text-align: center;
   }

   .sedona-interest {
     color: #000000;
     font-size: 30px;
     line-height: 36px;
     text-transform: uppercase;
     text-align: center;
   }

   .sedona-interest-description {
     color: #333333;
     font-size: 22px;
     line-height: 26px;
   }

   .sedona-advantages-title {
     font-size: 24px;
     line-height: 28px;
     text-transform: uppercase;
     font-weight: 700;
   }

   .sedona-advantages-subtitle {
     font-size: 24px;
     line-height: 28px;
     text-transform: uppercase;
     color: #000000;
   }

   .sedona-advantages-number {
     font-size: 18px;
     line-height: 21px;
   }

   .sedona-advantages-subdescription {
     font-size: 18px;
     line-height: 21px;
     color: #333333;
   }

   .breadcrumbs-item {
    font-size: 16px;
    line-height: 21px;
   }

   .page-container-catalog {
    background-image: url("../images/catalog-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #FFFFFF;
   }

   .inner-header-title {
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;

   }

   .newsletter {
     font-family: "PT Sans", sans-serif;
     background-color: #000000;
     background-image: url("../images/footer-background.jpg");
     background-size: 100% auto;
     background-repeat: no-repeat;
     color:#FFFFFF;
     text-align: center;
   }

   .page-footer {
    background-color: #FFFFFF;
   }

   .page-footer-title {
     font-size: 30px;
     line-height: 36px;
     text-transform: uppercase;
     font-weight: 700;
   }

   .about-newsletter {
     font-size: 22px;
     line-height: 26px;
     font-weight: 400;
   }

   .footer-contacts-address-phone {
     color: #000000;
     text-decoration: none;
     font-size: 40px;
     line-height: 40px;
   }
